<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./slick-master/slick/slick.css" />
    <link rel="stylesheet" href="./slick-master/slick/slick-theme.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header
      class="bg-primary d-flex py-3 px-5 justify-content-between text-white"
    >
      <div></div>
      <div>P319 Template</div>
      <div class="fav-list">
        <button
          type="button"
          class="bg-primary text-white border-0 position-relative"
        >
          <i class="fas fa-heart fs-4"></i>
          <span
            class="
              position-absolute
              top-0
              start-100
              translate-middle
              badge
              rounded-pill
              bg-danger
            "
          >
            0
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
    </header>
    <main class="py-2">
      <section class="slider-section container p-1">
        <div class="variable slider"></div>
      </section>
      <section class="img-section">
        <div class="container">
          <div class="row mb-3"></div>
          <div class="row image-set"></div>
        </div>
      </section>
    </main>
    <footer class="bg-secondary d-flex justify-content-center text-white">
      <div class="py-1">© 2021 - 2021 by P319 | Bütün hüquqlar qorunur</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="slick-master/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
